.aboutSectionInfoContainer {
    margin-left: 1rem;
    margin-right: 1rem;
}

.aboutImageElement {
    width: 100%;
    height: auto;
}

.sectionNumberContainer {
    display: flex;
    align-items: center;
    flex: row;
    gap: 5px;
    padding-top: 2rem; 
}

.sectionNumberContainer div {
    color: var(--main-black);
}

.sectionLine {
    height: 0.2rem;
    width: 2.5rem;
    background-color: var(--main-orange);
    font-weight: 700;
}

.aboutSection h2 {
    color: var(--main-black);
}