button {
  background: none;
  border: 2px solid var(--first-shade-orange);
  border-radius: 1rem;
  padding: 0.4rem;
  letter-spacing: 0.2rem;
  color: var(--main-black);
}

.heroMainContainer {
  position: relative;
  background-color: var(--background-color-one);
  height: 99vh;
}

.heroIntroContainer {
  padding-top: 0;
  letter-spacing: 0.2rem;
  height: 100%;
}

.heroIntro {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 6rem;
}

.heroIntroContainer h3 {
  margin: 0;
  padding: 0;
  color: var(--main-black);
  font-size: 1.5rem;
}

.heroIntroContainer h2 {
  margin: 0;
  padding: 0;
  color: var(--main-orange);
  font-size: 2rem;
}

.heroButtonContainer {
  display: flex;
  gap: 3rem;

  /* margin-bottom: 2rem; */
  margin-top: 6rem;
}

.heroIntroHeader {
  /* border: 1px solid goldenrod; */
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* align-items: left; */
  gap: 0.2rem;
  font-weight: 800;
}

.heroParagraph {
  /* border: 1px solid goldenrod; */
  margin-top: 2rem;
}

.heroParagraph p {
  margin: 0;
  padding: 0;
  letter-spacing: 0.2rem;
  color: var(--main-black);
  font-size: 1.35rem;
}

.heroImageContainer {
  display: none;
}

@media only screen and (min-width: 298px) {
  .heroIntroContainer h3 {
    font-size: 2.3rem;
  }

  .heroIntroContainer h2 {
    font-size: 2.7rem;
  }

  .heroParagraph {
    max-width: 25rem;
  }

  .heroParagraph p {
    font-size: 1.5rem;
  }

  button {
    font-size: 1rem;
  }

  .heroButtonContainer {
    padding-bottom: 2.4rem;
    margin-top: 4.5rem;
  }
}

@media only screen and (min-width: 383px) {
  .heroIntroContainer h3 {
    font-size: 3rem;
  }

  .heroIntroContainer h2 {
    font-size: 3.5rem;
  }

  button {
    font-size: 1.2rem;
  }

}

@media only screen and (min-width: 769px) {
  .heroParagraph p {
    padding: 0;
    letter-spacing: 0.2rem;
    color: var(--main-black);
  }

  .heroButtonContainer {
    padding-bottom: 2.4rem;
    margin-top: 2.4rem;
  }

  .heroImageContainer {
    display: block;
  }

  .heroIntro {
    margin-left: 3rem;

    /* margin-right: 1rem; */
    margin-top: 7rem;
  }


  .heroIntroContainer {
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 5px;

    /* margin-left: 2rem */
  }

  .heroImage {
    height: 100%;
    border: 5px solid var(--first-shade-orange);
    border-bottom-left-radius: 50%;
    border-right: none;
    border-top: none;
    position: relative;
    width: 100%;
    object-fit: cover;
  }

  .heroImage::before {
    content: '';
    position: absolute;
    background: var(--main-orange);
    z-index: 2;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 50%;
    opacity: 0.2;
  }
}

@media only screen and (min-width: 1201px) {

  .heroIntro {
    margin-left: 11rem;
    margin-top: 10rem;
  }

  .heroIntroContainer h3 {
    font-size: 3.5rem;
  }

  .heroIntroContainer h2 {
    font-size: 4rem;
  }

  .heroParagraph {
    max-width: 35rem;
  }

  .heroParagraph p {
    padding: 0;
    letter-spacing: 0.2rem;
    color: var(--main-black);
  }

  .heroButtonContainer {
    display: flex;
    gap: 3rem;
    margin-top: 6rem;
  }

  button {
    font-size: 1.4rem;
    cursor: pointer;
  }
  
}
